<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    包扫描-->
    <context:component-scan base-package="com.learn.listener"/>
    <rabbit:connection-factory id="connectionFactory"
                               host="192.168.144.130" port="5672"
                               username="admin" password="admin"
                               virtual-host="myhost"
    />
    <rabbit:listener-container connection-factory="connectionFactory">
<!--        <rabbit:listener ref="RMQListener" queue-names="spring-simple-queue"/>-->

       <!-- <rabbit:listener ref="RMQListener1" queue-names="spring-worker-queue"/>
        <rabbit:listener ref="RMQListener2" queue-names="spring-worker-queue"/>-->

    <!--    <rabbit:listener ref="RMQFanoutListener1" queue-names="spring-fanout-queue1"/>
        <rabbit:listener ref="RMQFanoutListener2" queue-names="spring-fanout-queue2"/>-->

        <rabbit:listener ref="RMQDirectListener1" queue-names="spring-direct-queue1"/>
        <rabbit:listener ref="RMQDirectListener2" queue-names="spring-direct-queue2"/>



    </rabbit:listener-container>

</beans>