<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <rabbit:connection-factory id="connectionFactory"
                               host="192.168.144.130"
                               port="5672"
                               username="admin"
                               password="admin"
                               virtual-host="myhost"
    />
    <rabbit:admin connection-factory="connectionFactory"/>

    <rabbit:queue id="spring-simple-queue" name="spring-simple-queue" auto-declare="true" auto-delete="false" durable="true" exclusive="false"/>

    <rabbit:queue id="spring-worker-queue" name="spring-worker-queue" auto-declare="true" auto-delete="false" durable="true" exclusive="false"/>

    <rabbit:queue id="spring-fanout-queue1" name="spring-fanout-queue1" auto-declare="true" auto-delete="false" durable="true" exclusive="false"/>
    <rabbit:queue id="spring-fanout-queue2" name="spring-fanout-queue2" auto-declare="true" auto-delete="false" durable="true" exclusive="false"/>

    <rabbit:fanout-exchange name="exchange-fanout" auto-delete="false" durable="true" auto-declare="true" >
        <rabbit:bindings>
            <rabbit:binding queue="spring-fanout-queue1"/>
            <rabbit:binding queue="spring-fanout-queue2"/>
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <rabbit:queue id="spring-direct-queue1" name="spring-direct-queue1" auto-declare="true" auto-delete="false" durable="true" exclusive="false"/>
    <rabbit:queue id="spring-direct-queue2" name="spring-direct-queue2" auto-declare="true" auto-delete="false" durable="true" exclusive="false"/>

    <rabbit:direct-exchange name="exchange-direct" auto-delete="false" durable="true" auto-declare="true" >
        <rabbit:bindings>
            <rabbit:binding queue="spring-direct-queue1" key="spring1"/>
            <rabbit:binding queue="spring-direct-queue2" key="spring2"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory"/>

</beans>